###
# Canvas configurations - also used for Database
###

# Database configuration, used in both db and app groups
app_db_host: 'your_db_host_ip_or_hostname'
app_db_user: 'your_db_user'
app_db_password: 'you_db_password'

app_db:
  staging:
    name: canvas-lms-staging # DB name
    host: "{{ app_db_host }}"
    user: "{{ app_db_user }}"
    password: "{{ app_db_password }}"

app_db_names:
  - "{{ app_db.staging.name }}"

# Default configs for database population
# More details about these variables here: https://github.com/instructure/canvas-lms/wiki/Production-Start#database-population
canvas_admin_email: "first_admin@email.com"

canvas_admin_password: "admin_password"

canvas_base_account_name: "Canvas LMS"

canvas_stats_collection: "opt_out"
