###
# Server playbook configurations
###

# Set create_admin_account to true if you want to create an admin accounr with ssh access and passwordless sudo.
# Generate the password using mkpasswd
# Only set server_admin_account otherwise

create_admin_account: false
server_admin_account: sudoer_user
# server_admin_password:

# Put ssh keys to access admin account in templates/ssh_keys
# And set the list of keys here, with extension
# admin_ssh_keys:
#   - 'you_key_filename.pub'

###
# Common playbook configurations
###

# Only allow these IPs to SSH the server

# allowed_ips:
  # - 1.1.1.1

###
# App configurations - also used for Database
###

# This user will be used to run Canvas LMS processes (passenger, delayed jobs...)
# It can also be used to deploy Canvas LMS
app_service_account: nonsudoer_user

deploy_ssh_keys:
  - 'you_key_filename.pub'
